.container
{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.contDetails
{
  -webkit-box-shadow: 12px 12px 17px 6px #000000; 
  box-shadow: 12px 12px 17px 6px #000000;
  max-width: fit-content;
  margin: 10px 30px;
}
.details
{
  margin: 8px;
}
.details dt
{
  font-weight: 700;
  font-size: 1.1em;
  background: linear-gradient(345deg,#2252d6,#597bd8d7,#7b9bf1d7);
}
.details dd
{
  font-weight: 400;
  font-size: 1.05em;
  display: flex;
  justify-content: right;
  background: linear-gradient(345deg,#bbcbf5,#d2deff,transparent);
}
.contAct
{
  -webkit-box-shadow: 12px 12px 17px 6px #000000; 
  box-shadow: 12px 12px 17px 6px #000000;
  padding: 12px;
  max-height: fit-content;
  margin: 10px;
  width: 50em;
  background-color: #fff;
}
.bgImg
{
  margin: 0 0 10px 0;
  background-image: url('../../images/tourims_activities.jpg');
  height: 41%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contActDet summary
{
  display: block;
  list-style: none;
  cursor: pointer;
}
.contActDet li
{
  position: relative;
  left: 35px;
  list-style: none;
  font-weight: 400;
  font-size: 0.72em;
  width: 95%;
}
.contActDet .act_Det_Title
{
  font-weight: 600;
  font-size: xx-large;
}
.spn_title
{
  font-size: small;
  font-weight: 600;
}
.actName
{
  position: relative;
  left: 20px;
  font-size: large;
  font-weight: 800;
  width: 96.85%;
}
.contFlag
{
  background-color: #fff;
}